.tag-deuda{
    background-color:#fee2e2;
    color: #f04f4f;
    display: block;
    border-radius: 15px;
    padding: 1px 1px;
    text-align: center;
    font-size: 14px;
    width: 97px;

}
.tag-libre{
    background-color:#e7faf2;
    color: #12c447;
    display: block;
    border-radius: 15px;
    padding: 1px 1px;
    text-align: center;
    font-size: 14px;
    width: 97px;
 
   

}
